VITE_API_URL=http://168.144.121.188/fitsmart/api
VITE_OAUTH_CLIENT_ID=change_me
VITE_GOOGLE_CALENDAR_API_URL=https://www.googleapis.com/calendar/v3
VITE_GOOGLE_CALENDAR_SCOPE=https://www.googleapis.com/auth/calendar